body {
	font-family: 'Questrial', sans-serif;
}

a {
	color: #cc7800;
}

a:hover {
	color: #6080b9;
	text-decoration: none;
}

h2 {
	font-size: 1.7rem;
	font-weight: 600;
	color: #6080b9;
}

h3 {
	font-size: 1.6rem;
	font-weight: 900;
	color: #cc7800;
}

h4 {
	font-weight: 500;
	font-size: 2.1rem;
}

h5 {
	font-weight: 300;
	font-size: 1.3rem;
	color: #cc7800;
}

.site-wrapper {
	padding: 0;
}

.background-wrapper {
	height: 180vh;
	width: 100vw;
	background-image: url('../img/background-xs.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}
	
.logo {
	height: 8rem;
	width: 20rem;
	background-image: url('../img/logo.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

.menu {
	padding-top: 1rem;
	font-size: 1.2rem;
	display: flex;
	justify-content: space-around;
}

.about-us {
	text-align: center;
}

.header {
	margin-top: 20vh;
}

.header span {
	color: #cc7800;
}

.header-container p {
	font-size: 1.2rem;
}

.WBSO-text {
	margin-top: 85vh;
}

.header-container button {
	font-size: 1rem;
}

.check-calculate-buttons {
	margin-top: 3rem;
	font-size: 1.2rem;
}

.check-button, .check-button button {
	background-color: #6080b9;
	color:white;
	border: none;
	padding: 0.5rem 1.2rem;
}


.calculate-button button {
	background-color: #cc7800;
	color: white;
	border: none;
	padding: 0.5rem 1.2rem;
}

.calculate-button button:hover {
	background-color: #cd9039;
}

.orange-wrapper {
	height: 70vh;
	background-color: #cc7800;
	position: relative;
	z-index: 4;
}

.INNOVATIEBOX-text{
    position: absolute;
    bottom: 0px;
    background: url(../img/skyline-transparent.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.INNOVATIEBOX-text .header-container{
	margin-bottom: 28rem;
}

.INNOVATIEBOX-header {
	/*margin-top: 20rem;*/
	color: white;
}

.INNOVATIEBOX-sub-header {
	color: #6080b9;
}

.contact-us-wrapper {
	background-color: #6080b9;
}

.header-why-us {
	margin-top: 15rem;
}

/*nav bar*/
.navbar{
	background-color: rgba(255,255,255,0.8);
}
.navbar-toggle .icon-bar{
	background-color: #6080b9;
}

.navbar-right{
	margin-right: 0px;
}

@media screen and (max-width: 1920px) {
	.background-wrapper {
		height: 2200px;			
	}

	.orange-wrapper {
		height: 800px;	
	}
}

@media screen and (max-width: 1600px) {
	.background-wrapper {
		height: 1550px;			
	}

	.WBSO-text {
		margin-top: 650px;
	}

	.orange-wrapper {
		height: 650px;	
	}
}

@media screen and (max-width: 1200px) {
	.background-wrapper {
		height: 1350px;
		background-image: url('../img/background-s.jpg');			
	}

	.WBSO-text {
		margin-top: 400px;
	}

	.orange-wrapper {
		height: 550px;	
	}
}


@media screen and (max-width: 880px) {
	.background-wrapper {
		height: 900px;
		background-image: url('../img/background.jpg');			
	}

	.WBSO-text {
		margin-top: 300px;
	}

	.orange-wrapper {
		height: 450px;	
	}
}


/*questionaire*/
.mm-survey {
	margin-top: 105px;
	margin-bottom: 50px;
}

.mm-survey-container {
	width: 100%;
	min-height: 350px;
	background: #fafafa;
}

.mm-survey-results-container {
	width: 100%;
	min-height: 350px;
	background: #fafafa;
	padding: 5px 0px 15px;
}

.mm-survey-page {
	display: none;
	font-weight: 100;
	padding: 30px;
}

.mm-survey-page.active {
	display: block;
}

.mm-survey-controller {
	position: relative;
    height: 60px;
    background: #eee;
    padding: 12px 14px;
}

.mm-survey-results-controller {
	position: relative;
    height: 60px;
    background: #333;
    padding: 12px 14px;
}

.mm-back-btn {
	display: inline-block;
    position: relative;
    float: left;
}

.mm-prev-btn {
	display: inline-block;
    position: relative;
    float: left;
}

.mm-next-btn {
	display: inline-block;
    position: relative;
    float: right;
}

.mm-finish-btn {
	display: none;
    position: relative;
    float: right;
}

.mm-finish-btn button {
	background: #3DD2AF !important;
    color: #fff;
}

.mm-survey-controller button {
	background: #fff;
    border: none;
    padding: 8px 18px;
    font-weight: 300;
    border-radius: 4px;
}

.mm-survey-results-controller button {
	background: #fff;
	border: none;
	padding: 8px 18px;
}

.mm-survey-progress {
	width: 100%;
	height: 30px;
	background: #f5f5f5;
	overflow: hidden;
}

.mm-progress {
	transition: width 0.5s ease-in-out;
}

.mm-survey-progress-bar {
	height: 30px;
    width: 0%;
    background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

.mm-survey-q {
	list-style-type: none;
	padding: 0px;
}

.mm-survey-q li {
	display: block;
	/*padding: 20px 0px;*/
	margin-bottom: 10px;
	width: 100%;
	background: #fff;
}

.mm-survey-q li input {
	width: 100%;
}

.mm-survery-content label {
	width: 100%;
	padding: 10px 10px;
	margin: 0px !important;
}

.mm-survery-content label:hover {
	cursor: pointer;
}

.mm-survey-question {
	min-height: 60px;
}

.mm-survey-question p {
	font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 40px;
}

.mm-survey-supplement{
	font-size: 15px;
    margin-bottom: 20px;
}

.answer{
	font-weight: 700;
    color: #cc7800;
}

.mm-survery-content label p {
	display: inline-block;
    position: relative;
    top: 2px;
    left: 5px;
    margin: 0px;
}

.mm-dynamic-input input, .mm-dynamic-form input, .mm-dynamic-datetime input {
	width: 100%;
    height: 52px;
    border: none;
    text-indent: 15px;
    font-size: 18px;
}

.mm-dynamic-input input:focus, .mm-dynamic-form input:focus, .mm-dynamic-datetime input:focus {
	outline: none;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	color: #292321;
    font-weight: 300;
    font-size: 16px;
}

input[type="radio"] + label span {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 2px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

input[type="radio"] + label span {
 	background-color: #333;
}

input[type="radio"]:checked + label span {
	border: 2px solid #3DD2AF;
	background: transparent;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
	-webkit-transition: background-color 0.20s ease-in-out;
	-o-transition: background-color 0.20s ease-in-out;
	-moz-transition: background-color 0.20s ease-in-out;
	transition: background-color 0.20s ease-in-out;
}

.mm-survey-item {
	background: #fff;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(33,33,33,0.15);
    border-radius: 0px 0px 4px 4px;
}

.mm-prev-btn button:focus, .mm-next-btn button:focus, .mm-finish-btn button:focus {
	outline: none;
	border: none;
}

.mm-survey.okay .mm-next-btn {
	display: inline-block;	
}

.mm-next-btn button {
	opacity: 0.25;
}

.mm-next-btn button.ready {
	background:#6080b9;
	color: #fff;
	opacity: 1;
}

.mm-finish-btn.active {
	display: inline-block;
}

.mm-survey-results {
	display: none;
}

.mm-survey-results-score {
    /* display: none; */
    margin: 0px;
    padding: 20px 0px;
    /* padding-top: 40px; */
    /* padding-bottom: 40px; */
    text-align: center;
    font-size: 16px;
    /* font-weight: 600; */
    /* letter-spacing: -6px; */
}

.mm-survey-results-list {
	list-style-type: none;
	padding: 0px 15px;
    margin: 0px;
}

.mm-survey-results-item {
	color: #fff;
    margin-top: 10px;
    padding: 15px 15px 15px 0px;
    font-weight: 300;
}

.mm-survey-results-item.correct {
	background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

.mm-survey-results-item.incorrect {
	background: linear-gradient(to left, #d33c62, #dc1144);
}

.mm-item-number {
	height: 40px;
	position: relative;
	padding: 17px;
	background: #333;
	color: #fff;
}

.mm-item-info {
	float: right;
}


